<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Get Article From Medium!</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css"/>
    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>
</head>
<body>
<div id="app" style="width: 80%;margin: auto;">
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>Get Article From Medium!</span>
            </div>
        </template>
        <div>
            <el-form label-width="100px">
                <el-form-item label="获取标题数量">
                    <el-slider v-model="size" :disabled="sliderStatus" show-input :max="5000"/>
                </el-form-item>
                <el-form-item label="Tags">
                    <el-row :gutter="10">
                        <el-col :span="10">
                            <el-input v-model="tags" :disabled="tagStatus" placeholder="tag之间以英文逗号分割" size="large"></el-input>
                        </el-col>
                        <el-col :span="10">
                            <el-input :disabled="cokStatus||!cok" v-model:="cookie" size="large" placeholder="cookie">
                                <template #prepend>
                                    <el-checkbox :disabled="cokStatus" v-model="cok" size="large"/>
                                </template>
                            </el-input>
                        </el-col>
                    </el-row>

                </el-form-item>
                <el-form-item>
                    <div>
                        <el-checkbox :disabled="priStatus" v-model="pri" label="获取付费的文章" size="large"/>
                    </div>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="getArticles" round :loading="loadingGetArticles">
                        {{getArticlesText}}
                    </el-button>
                    <el-button v-on:click="download" :disabled="downloadStatus" round>Download</el-button>
                </el-form-item>
            </el-form>
            <div>
                <el-alert title="参数说明"
                          description="【获取标题数量】设置为0时直接从本地获取；【Tags】Tags不填时默认为Software Engineering；【Cookie】填写Cookie，先匿名抓取，再从用户主页进行抓取，不填写只进行匿名抓取；"
                          type="warning"></el-alert>
            </div>

            <!--                article_id":article_id,"title":title,"author":name,"url":url,"clap":clap_count,"locked":locked}-->
            <p v-for="item in top10" :key="item.article_id">
                <el-link :href="item.url" target="_blank">{{item.title}}</el-link>
                <el-text class="mx-1">&nbsp;&nbsp;&nbsp;&nbsp;(clap:{{item.clap}})&nbsp;&nbsp;&nbsp;&nbsp;</el-text>
                <el-tag v-if="item.locked===1"  size="small"  type="danger">(locked)</el-tag>
                <el-tag v-if="item.locked===0" size="small" type="success">(unlocked)</el-tag>&nbsp;
                <el-tag size="small">{{item.tag}}</el-tag>
            </p>
        </div>
    </el-card>
</div>
<script>
    const App = {
        data() {
            return {
                size: 500,
                top10: [],
                taskID: null,
                loadingGetArticles: false,
                getArticlesText: "Create pdf files",
                pri: false,
                priStatus: false,
                sliderStatus: false,
                downloadStatus: true,
                cok: false,
                cokStatus: false,
                cookie: null,
                tags: "Software Engineering",
                tagStatus:false
            };
        },
        computed: {
            // 一个计算属性的 getter
            locked() {
                // `this` 指向当前组件实例
                return this.pri === false ? '0' : '0|1'
            }
        },
        beforeDestroy() {
            this.stopPolling(); // 在组件销毁前清除定时器
        },
        methods: {
            getArticles() {
                var cookie = null;
                if (this.cok && !this.cokStatus && this.cookie != null && this.cookie != "") {
                    cookie = btoa(this.cookie)
                }
                var tags = "Software Engineering"
                if (this.tags != "") {
                    tags = this.tags
                }
                console.log(cookie)
                fetch('/get_articles?size=' + this.size + "&" + "locked=" + this.locked + "&" + "cookie=" + cookie + "&" + "tags=" + tags, {
                    method: 'GET',
                })
                    .then(response => response.json())
                    .then(data => {
                        //取到taskID
                        taskID = data['task_id'];
                        this.taskID = taskID
                        //根据id轮询
                        this.loadingGetArticles = true;
                        this.getArticlesText = "Getting..."
                        this.priStatus = true
                        this.sliderStatus = true
                        this.downloadStatus = true
                        this.cokStatus = true
                        this.tagStatus = true
                        this.startPolling()
                    })
                    .catch((error) => console.error('Error:', error));
            },
            queryTask() {
                fetch("/task/" + this.taskID, {method: 'GET'})
                    .then(response => response.json())
                    .then(data => {
                        data = data['data']
                        if (data[1] == 1 || data[1] == 2) {
                            this.stopPolling();
                            this.loadingGetArticles = false;
                            this.getArticlesText = "Create pdf files"
                            this.downloadStatus = false
                            this.sliderStatus = false
                            this.priStatus = false
                            this.tagStatus = false
                            this.cokStatus = false
                            if (data[1] == 1) {
                                this.$message.success('生成PDF成功！');
                            } else {
                                this.$message.error('生成PDF失败！');
                            }
                        }
                    })
                    .catch((error) => console.error('Error:', error));
                this.queryTop10()
            },
            queryTop10() {
                fetch("/top_10_articles?locked=" + this.locked, {method: 'GET'})
                    .then(response => response.json())
                    .then(data => {
                        this.top10 = data['data']
                    })
                    .catch((error) => console.error('Error:', error));
            },
            download() {
                fetch("/download", {method: 'GET'})
                    .then(response => response.json())
                    .then(data => {
                        if (data.message == "请先获取！") {
                            this.$message.error('请先创建pdf！');
                        } else {
                            var path = data.data
                            window.open(path, "_blank");
                        }
                        console.log(data)
                    })
                    .catch((error) => console.error('Error:', error));
            },
            startPolling() {
                this.timer = setInterval(this.queryTask, 500);
            },
            stopPolling() {
                clearInterval(this.timer);
                this.timer = null;
            }
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>